@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:700&display=swap');

/* BARRA DE NAVEGACIÓN */

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  background-color: #333;
  font-size: 16px;
  z-index: 10;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: white;
  background-color: #f59a40;
}

.dropdown-content j {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content j:hover {
  color: white;
  background-color: #f7554d;
}

.dropdown-content c {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content c:hover {
  color: white;
  background-color: #4c8df5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* IMÁGEN DEL EQUIPO */

.container {
  position: relative;
  text-align: center;
  color: black;
  max-height: 100%;
}

.container .center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  height: auto;
}

.centeredtxt{
  position: absolute;
  background: rgba(225,227,236,.90);
  width: 50%;
  height: 25%;
  top: 80%;
  left: 50%;
  border-radius:15px;
  transform: translate(-50%, -50%);
  padding-left: 2%;
  padding-right: 2%;
}

@media only screen and (max-width: 800px) {
  .centeredtxt {
      border-radius: 8px;
  }
}


/* TEXTOS */


body{
    font-family:'DM Sans', sans-serif;
    font-weight:400;
    color:#373737;
    background-color:#FFFFFF; /*el primer par es R, segundo es G y tercero es B*/
}

h1, h2{
    font-family:'Space Mono', monospace;
    color:#FFFFFF; /* lo básico, para evitar problemas */
    color:grey; /* si el navegador lo entiende, lo usa */
    text-align:center;
    position: relative;
    letter-spacing:0.1em;
    font-weight:700;
    line-height: 2rem;
}

h1{
    font-size:3.5rem;
}

h2{
    font-size:1.7rem;
    letter-spacing:0.1em;
}

@media screen and (max-width: 1300px){
    h1{ font-size:2.5rem;  line-height: 1.4rem;}
    h2{ font-size:1.2rem;  line-height: 1.4rem;}
}

@media screen and (max-width: 900px){
    h1{ font-size:1.5rem;  line-height: 1rem;}
    h2{ font-size:0.9rem;  line-height: 1rem;}
}

@media screen and (max-width: 650px){
    h1{ font-size:1rem; }
    h2{ font-size:0.7rem; }
    .centeredtxt {
      border-radius: 8px;
      height: 30%;
      top: 75%;
    }
}

@media screen and (max-width: 450px){
    h1{ font-size:1rem;  line-height: 0.4rem;}
    h2{ font-size:0.7rem;  line-height: 0.65rem;}
}

@media screen and (max-width: 350px){
    h1{ font-size:0.7rem;  line-height: 0.4rem;}
    h2{ font-size:0.4rem;  line-height: 0.6rem;}
}

h3{
    display:none;
}

h5, h6{
    font-weight:700;
}


header{
    width: auto;
    top:50%;
    position: absolute;
    text-align:center;
    z-index:9;
    background-color: grey;
}

@media screen and (orientation: portrait){
    header{ top:12%; }
}


main{
    width:100%;
}

/* GALERÍA DE IMÁGENES DE EQUIPO */

.galleryf {
  border: 0px;
}


.galleryf:hover {
  opacity: 1;
  content:url("media/fernanda-loca-color.png");
  width:100%;
}

.galleryf img {
  width: 100%;
  align: center;
  height: auto;
}

.galleryb {
  border: 0px;
}


.galleryb:hover {
  opacity: 1;
  content:url("media/belen-loca-color.png");
  width:100%;
}

.galleryb img {
  width: 100%;
  align: center;
  height: auto;
}

.galleryd {
  border: 0px;
}


.galleryd:hover {
  opacity: 1;
  content:url("media/diego-loco-color.png");
  width:100%;
}

.galleryd img {
  width: 100%;
  align: center;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 33.3333%;
}


@media only screen and (max-width: 800px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* PORTAFOLIO */

      /* VIDEO */

.containervid {
        position: relative;
        text-align: center;
        color: black;
      }

video{
          width:100%;
          height:auto;
      }

.centeredtxtvid{
        position: absolute;
        background: rgba(225,227,236,.90);
        width: 50%;
        height: auto;
        top: 50%;
        left: 50%;
        border-radius:15px;
        transform: translate(-50%, -50%);
        padding-left: 2%;
        padding-right: 2%;
      }

@media only screen and (max-width: 800px) {
      .centeredtxtvid {
            border-radius: 8px;
        }
      }

      /* IMÁGENES */

h4{
  font-size: 1.5rem;
  line-height: 1.2rem;
}

p{
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 5px;
  font-family: Arial;
}

/* Center website */
.main {
  margin: auto;
}


.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 6px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  height: 550px;
  display: none; /* Hide all elements by default */
}

@media screen and (max-width: 1300px){
    .column{
      width:33.33%;
    }
}

@media screen and (max-width: 900px){
    .column{
      width:50%;
    }
}

@media screen and (max-width: 650px){
  .column{
    width:100%;
    height: 650px;
  }
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.contentd {
  background: linear-gradient(to bottom left, #4c8df5, white, white , white, white, white , white, white);
  padding: 10px;
}

.contentf {
  background: linear-gradient(to bottom left, #f59a40, white, white , white, white, white , white, white);
  padding: 10px;
}

.contentb {
  background: linear-gradient(to bottom left, #f7554d, white, white , white, white, white , white, white);
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btnf {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btnf:hover {
  background-color: #f59a40;
}

.btnb {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btnb:hover {
  background-color: #f7554d;
}

.btnd {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btnd:hover {
  background-color: #4c8df5;
}

.btn {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: lightgrey;
}
